body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#name.MuiInputBase-input.MuiOutlinedInput-input,
#hddCapacity.MuiInputBase-input.MuiOutlinedInput-input {
  height: 8px;
}

#control-panel
  #search-input.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedStart {
  font-size: 14px;
}
